@model IEnumerable<WebProgramlamaProje.Models.Domain.Ticket>
@inject IStringLocalizer<HomeController> Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Localization

@{
    

    var currentCulture = HttpContextAccessor.HttpContext?.Features.Get<IRequestCultureFeature>()?.RequestCulture?.Culture;
}


<div class="text-center">
    <h1 class="display-4">@Localizer["welcomeMessage"]</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>TicketType</th>
            <th>From</th>
            <th>To</th>
            <th>SeatNo</th>
            <th>Date</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.TicketType.Name</td>
                <td>@ticket.Flight.From</td>
                <td>@ticket.Flight.To</td>
                <td>@ticket.SeatNo</td>
                <td>@ticket.Flight.Date.ToShortDateString()</td>
                <td>@ticket.UserName</td>
            </tr>
        }
    </tbody>
</table>
