@inject IStringLocalizer<BaseController> Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Localization

@{


    var currentCulture = HttpContextAccessor.HttpContext?.Features.Get<IRequestCultureFeature>()?.RequestCulture?.Culture;
}

<body>

    <div class="container">
        @foreach (var flight in Model)
        {
            <div class="flight-card">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["flightInfo"]</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>@Localizer["flightFrom"]</strong> @flight.From</li>
                        <li class="list-group-item"><strong>@Localizer["flightTo"]</strong> @flight.To</li>
                        <li class="list-group-item"><strong>@Localizer["flightDate"]</strong> @flight.Date.ToString("yyyy-MM-dd HH:mm:ss")</li>
                        <li class="list-group-item"><strong>@Localizer["flightDescription"]</strong> @flight.Description</li>
                        <li class="list-group-item"><strong>@Localizer["flightTotalSeat"]</strong> @flight.TotalSeatCount</li>
                        <li class="list-group-item"><a href="@Url.Action("ReserveSeat", "Dashboard", new { id = flight.Id })" class="btn-reserve">@Localizer["flightReserve"]</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>

</body>
</html>