@model IEnumerable<WebProgramlamaProje.Models.Domain.Flight>


<div class="container mt-4">
    <div class="row">
        @foreach (var flight in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Flight Information</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>From:</strong> @flight.From</li>
                            <li class="list-group-item"><strong>To:</strong> @flight.To</li>
                            <li class="list-group-item"><strong>Date:</strong> @flight.Date.ToString("yyyy-MM-dd HH:mm:ss")</li>
                            <li class="list-group-item"><strong>Description:</strong> @flight.Description</li>
                            <li class="list-group-item"><strong>Total Seat Count:</strong> @flight.TotalSeatCount</li>
                            <li class="list-group-item"><a asp-action="ReserveSeat" asp-controller="Dashboard" asp-route-id="@flight.Id">Reserve</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>