@model List<WebProgramlamaProje.Models.Domain.Flight>

@inject IStringLocalizer<BaseController> Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Localization

@{


    var currentCulture = HttpContextAccessor.HttpContext?.Features.Get<IRequestCultureFeature>()?.RequestCulture?.Culture;
}

<div class="container mt-5">
    <h2>@Localizer["flightList"]</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Localizer["flightAction"]</th>
                <th>@Localizer["flightFrom"]</th>
                <th>@Localizer["flightTo"]</th>
                <th>@Localizer["flightDate"]</th>
                <th>@Localizer["flightDescription"]</th>
                <th>@Localizer["flightTotalSeat"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-info" asp-controller="Admin" asp-action="FlightDetails" asp-route-id="@flight.Id">@Localizer["showDetails"]</a>
                    </td>
                    <td>@flight.From</td>
                    <td>@flight.To</td>
                    <td>@flight.Date.ToShortDateString()</td>
                    <td>@flight.Description</td>
                    <td>@flight.TotalSeatCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>